<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>menu</title>
</head>
<body >
	<h1>MENU</h1><br>

	<form action="{% url 'cart' %}" method="post">
			{% csrf_token %}
			<button value={{rest_id}} name = 'restid' class="btn btn-outline-secondary add-btn" data-action="add" type="submit">Cart</button>
	</form> 
	<h4><a href="{% url 'home' id=customer.id %}">Back</a></h4>
	
	<br/>

	<span style="display: flex;">
		<p>Number of dishes in Cart:-</p>
		{% if order %}
			<p id="cart_items">{{order.get_cart_items}}</p>
		{% else %}
			<p id="cart_items">0</p>
		{% endif %}
	</span>


	{% for i in dish %}
		<h4>{{i.name}}</h4>
		<div class="col-lg-4">
			<div class="box-element product">
				<hr>
				<button class="btn btn-outline-secondary add-btn" onclick="increment({{i.id}})">Add to Cart</button>
				<p style="display:none" id="{{i.id}}" name="quantity">0</p>
				<h4 style="display: inline-block; float: right">{{i.price}}Rs</h4>
			</div>
		</div>
		<br/>
		
	{% endfor %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

	<script>

		var Orderdishes = JSON.parse("{{Orderdishes|escapejs}}");
		Orderdishes=JSON.parse(Orderdishes)

		for(var i=0;i<Orderdishes.length;i++){
			console.log(Orderdishes[i])
			const quantity=Orderdishes[i].fields.quantity;
			const dish_id=Orderdishes[i].fields.dish;

			console.log(quantity)
			console.log(dish_id)

			document.getElementById(""+dish_id).innerHTML=quantity
		}


		
		
		
		function increment(id){
			const quantity=parseInt(document.getElementById(""+id).innerHTML);
			document.getElementById(""+id).innerHTML=quantity+1;
			const cart_items=parseInt(document.getElementById("cart_items").innerHTML)
			document.getElementById("cart_items").innerHTML=cart_items+1;

			let data = new FormData(); 
			data.append("id", id);
			data.append("csrfmiddlewaretoken", '{{csrf_token}}')
			axios.post('http://127.0.0.1:8000/post_order', data) 
			.then(res =>{
				const message=res.data.message
				if(message=="customer not login"){
					window.location.href="{% url 'customer_login' %}"
				}
				console.log(res);
			}) 
			.catch(errors => console.log(errors)) 
		}

	

	</script>

	
</body>
</html>